<div class="form-group">
  <form (ngSubmit)="onSubmit()" autocomplete="off">
    <div class="form-group">
      <input [(ngModel)]="task.description"
             type="text" name="description"
             class="form-control"
             placeholder="Add New Task">
    </div>

    <div class="form-group" *ngIf="peopleList">
      <label for="p"> Person </label>
      <select [(ngModel)]="selectedPerson" class="form-control" name="p" id="p">
        <option *ngFor="let person of peopleList" [ngValue]="person"> {{person.name}}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="categories">
      <label for="c">Category</label>
      <select [(ngModel)]="selectedCat" class="form-control" name="c" id="c">
        <option *ngFor="let category of categories" [ngValue]="category"> {{category.categoryName}}</option>
      </select>
    </div>

    <div class="form-group">
      <label>Due Date</label>
      <input type="date"
             name="dueDate"
             class="form-control"
             placeholder="Add Category"
             [(ngModel)]="task.dueDate">
    </div>
    <button type="submit" class="btn btn-primary">Add Task</button>
  </form>
</div>
