<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Eric Johnson's Task {{ title }}!
  </h1>
  &nbsp;
  <div class="container">
    <button class="btn-primary" routerLink="/dashboard">Dashboard</button>
    <button class="btn-primary" routerLink="/tasks">Tasks</button>
    <button class="btn-primary" routerLink="/addTask">Add Task</button>
    <button class="btn-primary" routerLink="/person">Add Person</button>
    <button class="btn-primary" routerLink="/category">Add Category</button>
  </div>
  &nbsp;
</div>

<router-outlet></router-outlet>




